{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>List of Projects</h1><br>
  {% for project in projects %}
  <div class="card" style="width: 50rem;">
    <div class="card-header">
      <strong>{{ project.project_name }}</strong>
      <span style="float: right;"><strong>Likes : </strong>{{project.likes.count}}</span>
    </div>
    <div class="card-body">
      {% if project.course_name %}
        <p><strong>Course : </strong>{{ project.course_name }}</p>
      {% endif %}  
      {% if project.faculty %}
        <p><strong>Faculty : </strong>{{ project.faculty }}</p>
      {% endif %}
      {% if project.student_mentor %}
        <p><strong>Student Mentor : </strong>{{project.student_mentor }}</p>
      {% endif %}
      <p><strong>Uploaded On : </strong>{{project.date}}</p>
      <a href='{% url "App:project-detail" project.id %}' class="btn btn-success">More About Project</a>  
    </div>
  </div>
  <br><br>
  {% endfor %}
</div>  
{% endblock %}
