{% extends 'base.html' %}

{% block content %}

<div class="container">
  <br>
  <h1>Leaderboard</h1><br>
  <div class="row">
    
    <div class="col-md-4">
      
      <div class="card">
        <div class="card-header">
          <h3 style="color:#ff9900;">GOLD</h3>
        </div>
        <div class="card-body">
          {% for project in projects %}
            {% if project.likes.count > 50 %}  
              <p>
                <a href="{% url "App:project-detail" project.id %}"><strong>{{ project.project_name }}</strong></a>
                <span>
                  <button class="badge badge-pill badge-danger">Likes {{ project.likes.count }}</button>
                </span>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      
      <div class="card">
        <div class="card-header">
          <h3 style="color:#7a7a52;">SILVER</h3>
        </div>
        <div class="card-body">
          {% for project in projects %}
            {% if project.likes.count > 25 %}  
              <p>
                <a href="{% url "App:project-detail" project.id %}"><strong>{{ project.project_name }}</strong></a>
                <span>
                  <button class="badge badge-pill badge-danger">Likes {{ project.likes.count }}</button>
                </span>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
    <div class="col-md-4">
      
      <div class="card">
        <div class="card-header">
          <h3 style="color:#996633;">BRONZE</h3>
        </div>
        <div class="card-body">
          {% for project in projects %}
            {% if project.likes.count > 0 %}  
              <p>
                <a href="{% url "App:project-detail" project.id %}"><strong>{{ project.project_name }}</strong></a>
                <span>
                  <button class="badge badge-pill badge-danger">Likes {{ project.likes.count }}</button>
                </span>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
