{% extends 'base.html' %}

{% block content %}
<div class="container">
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>{{ project.project_name }}</h1>
        </div>
        <div class="card-body">
          <p><strong>Published on : </strong>{{ project.date }}</p>
          <p><strong>Semester : </strong>{{ project.semester }}</p>
          <p><strong>Course : </strong>{{ project.course_name }}</p>
          <p><strong>Submitted By : </strong>{{ project.member }}</p>
          {% if project.faculty %}
            <p><strong>Faculty : </strong>{{ project.faculty }}</p>
          {% endif %}
          {% if project.student_mentor %}
            <p><strong>Student Mentor : </strong>{{ project.student_mentor }}</p>
          {% endif %}
          {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'App:liked' project.pk %}">{{ project.likes.count }} Likes</span></a>
          {% else %}
            <a class="btn btn-primary" href="/login">{{project.likes.count}}Likes</a>
          {% endif %}
          {% if project.member == request.user %}
            <a class="btn btn-primary" href="{% url 'App:delete' project.pk %}">Delete</span></a>
          {% endif %}
        </div>
      </div>
      <h2>Description</h2>
      <p>{{ project.project_description }}</p>
      {% comment %} <a class="btn btn-lg btn-secondary" href="#">Want To Continue Project</a>
      &nbsp;&nbsp;
      <a class="btn btn-lg btn-secondary" href="#">Contact The Member</a> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
