{% extends 'base.html' %}
<!-- {% block title %}Register{% endblock %} -->
{% block content %}
    {% comment %} {% if messages %}
        <ul class="messages">
            <!--looping through messages-->
            {% for message in messages %}
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-hidden="true">&times;
                    </button>
                    {{ message }}
                </div>
                {# {% if message.tags %} #}
                {#                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>#}
            {% endfor %}
        </ul>
    {% endif %} {% endcomment %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            
            <div class="col-md-8">
                <!-- Displaying Form -->
                <center>
                    <div class="card text-white bg-dark">
                        <h1 class="card-header">Register</h1>
                        {% for field in form %}
                    <form class="form-horizontal" action="" method="post"
                          enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="text-danger small">{{ field.errors }}</div>
                        </div>
                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                        <div class="col-sm-10">{{ field }}</div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit
                        </button>
                    </div>
                </div>
                <!-- Displaying Form -->
                </form>
                Already Registered!<a href="/login">Sign In</a>
                </center>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br>
{% endblock %}