{% extends 'base.html' %}

{% block content %}
  <div class="x">
    <h1>{{ project.title }}</h1>
    <p>Published on: {{ project.published_date }}</p>
  </div>
  <div class="y">
    <p>{{ project.description }}<p>
  </div>

  {% if user.is_authenticated %}
      <a class="btn btn-primary" href="{% url 'project_edit' pk=project.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'project_remove' pk=project.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
  {% endif %}

{% endblock %}
